<!-- Begin Luiz Neto Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">    
                <article class="row post">
                    <div class="post-body">
                        <p>O Capítulo DeMolay Luiz Ribeiro Gonçalves Neto, nº 408 do Supremo Conselho da Ordem DeMolay para o Brasil, patrocinado pelas A.R.L.S. Raul Serrano, Liberdade Teresinense e Augusto de Castro, completa, em 2016, 17 anos de atuação na sociedade teresinense e tem a honra de sediar o maior evento da Ordem DeMolay Brasileira!</p>
                        <p>Ao longo desses anos, o Capítulo já formou, com virtudes e princípios, diversos jovens que hoje, como profissionais e cidadãos, estão ativos nos mais diversos âmbitos profissionais. Ressalta-se que, desses, diversos já ingressaram nas fileiras da Maçonaria Universal.</p>
                        <p>Temos uma história de excelência, produzindo bons líderes não apenas para a sociedade, mas também para a própria Ordem DeMolay. No âmbito estadual, já tivemos 11 Mestres Conselheiros Estaduais (do total de 15) e 06 Grandes Mestres Estaduais (do total de 10). No âmbito nacional, já tivemos 03 Mestres Conselheiros Nacionais Adjuntos e 01 Mestre Conselheiro Nacional (maior cargo da liderança juvenil da Ordem DeMolay Brasileira). Além de que, atualmente, o Grande Mestre Nacional, Tio Ilan Kelson, é membro deste Capítulo. Já tivemos, também, membros atuando como Deputados Nacionais, Ministro do Superior Tribunal de Justiça DeMolay, do Superior Conselho Fiscal, da Diretoria da Assembleia Diretiva, além de presidirmos por dois anos a Associação Alumni Brasil. Hoje, o Capítulo possui membros como Presidente de Comissão Nacional do SCODB, na Diretoria Executiva Nacional, no Gabinete Nacional da Liderança Juvenil e na Diretoria Diretiva da Assembleia Geral.</p>
                        <p>Tivemos a honra, também, de sediar 05 Congressos Estaduais da Ordem DeMolay e, mais recentemente, o Encontro Macrorregional Nordeste da Ordem DeMolay. E, é por toda essa experiência, que nos candidatamos a sediar o Congresso Nacional da Ordem DeMolay no ano de 2016.</p>
                        <p>Somos um Capítulo unido, fraterno e engajado nas atividades sociais. Queremos compartilhar nossa vivência de Ordem DeMolay com todos vocês que vierem nos visitar de todos os rincões desse país... E, acreditem, jamais se esquecerão do calor de nosso abraço!</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- End Luiz Neto Section -->
