<!-- Begin Social Medias Section -->
<section id="social-media" class="social-media image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.socialMediasImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 social-medias-list">
			<h3 id="social-media-title">{{ site.socialMediasTitle }}</h3>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<!-- End Social Medias Section -->